#mainTitle {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, sans-serif;
  }

body {
    background-image: url(./Imagenes/tumblr_0e0ca0386f73c41604556382f5519d33_0a87761d_500.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

#container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(136, 210, 219);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

#average{
    margin: auto;
    padding: 10px;
    background-color:  rgb(34, 31, 31);
    border: 1px solid  rgb(43, 132, 216);
    font-size: 20px;
    font-weight: bold;
    max-width: 300px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255)
}

#total_students, 
#total_aprobados, 
#total_desaprobados {
    margin: 0;
    padding: 10px;
    background-color: rgb(34, 31, 31);
    border: 1px solid rgb(43, 132, 216);
    font-size: 10px;
    font-weight: bold;
    max-width: 300px;
    color: rgb(255, 255, 255);
}

#totalContainer {
    display: flex;
    flex-direction: column; /* Apilamos los elementos en columna */
    align-items: center; /* Centramos los divs horizontalmente */
    gap: 1px; /* Separación de 1px entre los divs */
    margin-bottom: 20px; /* Espacio después del contenedor */
}

#studentForm{
    margin: auto;
    padding: 10px;
    background-color: rgb(201, 201, 201);
    border: 1px solid rgb(43, 132, 216);
    font-size: 15px;
    font-weight: bold;
    max-width: 300px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    gap: 12px;
}

#studentForm div{
    display: flex;
    margin-bottom: 5px;
}

#studentForm label{
    text-align: left;
    width: 100px;
    margin-right: 10px;
}

#studentForm input{
    flex: 1;
    padding: 3px;
}

#studentForm button{
    align-self: flex-end;
    padding: 8px 16px;
    cursor: pointer;
}

#studentsTable {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 900px;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
  }
  
  #studentsTable th,
  #studentsTable td {
    padding: 12px 8px;
    font-size: clamp(10px, 2.5vw, 16px);
    text-align: center;
    border: 1px solid #ccc;
    white-space: normal;
    word-break: break-word;
    line-height: 1.2;
  }

#studentsTable thead {
  background-color: #67a4d6;
  color: rgb(255, 255, 255);
}

#studentsTable tbody tr{
    background-color: white;
    font-size: 12px;
}

.edit-btn {
  margin-top: 5px;
}